<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834039968228-7f0phrkmi4jmd9du9rekjhfpph21tput.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834039968228-7f0phrkmi4jmd9du9rekjhfpph21tput</string>
	<key>API_KEY</key>
	<string>AIzaSyDlcPvefZRQwgrN78V9ctdyEBR_9q938Vw</string>
	<key>GCM_SENDER_ID</key>
	<string>834039968228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blueHiveEcommerce</string>
	<key>PROJECT_ID</key>
	<string>blue-hive-ecommerce-b773d</string>
	<key>STORAGE_BUCKET</key>
	<string>blue-hive-ecommerce-b773d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834039968228:ios:f058d90fedfb9d1c9597f1</string>
</dict>
</plist>